version: "3.8"

services:
  backend:
    image: shivu0777/node-backend:latest
    container_name: node-backend
    ports:
      - "3000:3000"
    restart: always

  frontend:
    image: shivu0777/node-frontend:latest
    container_name: node-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
